.adopt__main_container {
  margin: 3rem 0rem;
  display: flex;
}

.adopt__form {
  margin: 2rem 0;
  padding: 3rem 2rem;
  background-color: var(--color-green-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 60%;
  border-radius: 20px;
}

.field__container {
  margin: 0.5rem;
  width: calc(33.33% - 20px);
}

@media screen and (max-width: 850px) {
  .adopt__form {
    max-width: 80%;
  }
  
  .field__container {
    margin: 0.5rem;
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 550px) {
  .adopt__form {
    max-width: 95%;
  }
  
  .field__container {
    margin: 0.5rem;
    width: calc(100% - 20px);
  }
}
